# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).
# See docs/Config_Reference.md for a description of parameters.


#####################################################################
##   MCU Settings
#####################################################################

##   BTT Manta M8P V2.0 CAN-ID c1186ab12c17 / USB-ID /dev/serial/by-id/usb-Klipper_stm32h723xx_3E003E000B51313236343430-if00
##   https://github.com/bigtreetech/Manta-M8P/tree/master/V2.0

[mcu]
canbus_uuid: c1186ab12c17  # Kein "serial:" mehr in dieser Sektion!

[mcu EBBCan]

canbus_uuid:7f06ab490466

#####################################################################
##  CANBUS MCU Settings
#####################################################################

##   BTT EBB 36 V1.2 CAN ID 7f06ab490466 (Alt SB2209: 03ff4faec2a1)
##   https://github.com/bigtreetech/EBB/tree/master/EBB%20CAN%20V1.1%20and%20V1.2%20(STM32G0B1)

#[mcu EBBCan]
#canbus_uuid: 7f06ab490466
[include EBB-CanBus.cfg]



#####################################################################
##  Printer Settings / Makros
#####################################################################

[include makros.cfg]
[include machine.cfg]





